
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-6 col-7">
                            <h6 class="h2 text-white d-inline-block mb-0">Edit the Document</h6>
                            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item"><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../../listDocs']" >Documents</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit Document</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-lg-6 col-5 text-right"><a href="#" class="btn btn-sm btn-neutral">New</a> <a href="#" class="btn btn-sm btn-neutral">Filters</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="alert alert-danger" *ngIf="error">
                    <p>{{error}}</p>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <p>{{success}}</p>
                </div>
                <div class="col-lg-6">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="mb-0">Document Data</h3>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                        <form [formGroup]="editForm"  (ngSubmit)="onCreate()">     
                                            <div class="form-group">
                                            <input placeholder="Document Image" type="file" class="form-control form-control-lg"  name="docImage" id="docImage" formControlName="docImage" (change)="selectFile($event)" (change)="imagePreview($event)" >  
                                                  
                                            </div>
                                            <div class="form-group">
                                                <input 
                                                [(ngModel)]="doc.title"
                                                type="text"
                                                id="title"
                                                name="title"
                                                formControlName="title"
                                                class="form-control"
                                                >
                                                <div
                                             *ngIf="!editForm.get('title')?.valid && (editForm.get('title')?.dirty ||editForm.get('title')?.touched)">
                                                <div [hidden]="!editForm.get('title').errors?.['required']">
                                                First Name is required
                                                </div>
                                            <div [hidden]="!editForm.get('title').errors?.['minlength']">
                                                Min Length is 3
                                            </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input 
                                                [(ngModel)]="doc.description"
                                                type="text"
                                                id="description"
                                                name="description"
                                                formControlName="description"
                                                class="form-control"
                                                >
                                                <div
                                            *ngIf="!editForm.get('description')?.valid && (editForm.get('description')?.dirty ||editForm.get('description')?.touched)">
                                            <div [hidden]="!editForm.get('description').errors?.['minlength']">
                                                Min Length is 10
                                            </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                
                                            <select 
                                            [(ngModel)]="selectedValue" 
                                            class="form-control" 
                                            id="modelType"
                                            name="modelType"
                                            formControlName="modelType"
                                            [(ngModel)]="doc.modelType"
                                        >
                                                <option  disabled selected>Select the Document Type</option>
                                                <option *ngFor="let c of modelTypes" [ngValue]="c">{{c}}</option>
                                            </select>
                                            
                                            <div
                                            *ngIf="!editForm.get('modelType')?.valid && (editForm.get('modelType')?.dirty ||editForm.get('modelType')?.touched)">
                                                    <div [hidden]="!editForm.get('modelType').errors?.['required']">
                                                    type is required
                                                    </div>
                                                    <div [hidden]="editForm.get('modelType').value!='Select the Document Type'">
                                                        type is required
                                                        </div>
                                                <div [hidden]="!editForm.get('modelType').errors?.['minlength']">
                                                    Min Length is 3
                                                </div>
                                                    </div>
                                            </div>

                                            
                                            <div class="form-group">
                                                <input 
                                                type="hidden"
                                                id="owner"
                                                name="owner"
                                                formControlName="owner"
                                                value="{{user.email}}"
                                                class="form-control"
                                                >
                                            
                                                    
                                                <div
                                                *ngIf="!editForm.get('title')?.valid && (editForm.get('owner')?.dirty ||editForm.get('owner')?.touched)">
                                                    <div [hidden]="!editForm.get('owner').errors?.['required']">
                                                        First Name is required
                                                    </div>
                                                    </div>
                                            </div>

                                            <button class="btn btn-success" type="submit">Add Document</button>
                                            
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="mb-0">The Document</h3>
                            </div>
                            <div class="card-body" width="500" height="600" style="border: 3px dashed #1E90FF ; background-image:url('../../../assets/img/imgback.png');">
                                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                                <div><img  [src]="url" *ngIf="url" ></div>
                                <div><img  [src]="doc.file" *ngIf="!url"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
