
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(../../assets/dashboard/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"> <span class="mask bg-gradient-primary opacity-8"></span>
      <div class="container-fluid d-flex align-items-center">
          <div class="row">
              <div class="col-lg-7 col-md-10">
                  <h1 class="display-2 text-white">Hello {{user.name}}</h1>
                  <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p><a href="#!" class="btn btn-neutral">Edit profile</a>
              </div>
          </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
  <div class="row">
      <div class="col-xl-4 order-xl-2">
          <div class="card card-profile"><img src="../../assets/dashboard/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
              <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                      <div class="card-profile-image"><a href="#"><img src="../../assets/dashboard/assets/img/theme/user.png" class="rounded-circle"></a></div>
                  </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                  <div class="d-flex justify-content-between"><a href="#" class="btn btn-sm btn-info mr-4">Connect</a> <a href="#" class="btn btn-sm btn-default float-right">Message</a></div>
              </div>
              <div class="card-body pt-0">
                  <div class="row">
                      <div class="col">
                          <div class="card-profile-stats d-flex justify-content-center">
                              <div><span class="heading">88</span> <span class="description">Comments</span></div>
                          </div>
                      </div>
                  </div>
                  <div class="text-center">
                      <h5 class="h3">{{user.name|titlecase}}<span class="font-weight-light"></span></h5>
                      <div class="h5 font-weight-300"><i class="ni location_pin mr-2"></i>{{user.email}}</div>
                     
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                  <h5 class="h3 mb-0"></h5>
              </div>
             
          </div>
      </div>
      <div class="col-xl-8 order-xl-1">
          <div class="row">
              <div class="col-lg-6">
                  <div class="card bg-gradient-success border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Extractions</h5><span class="h2 font-weight-bold mb-0 text-white">350,897</span>
                              </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-white text-dark rounded-circle shadow"><i class="ni ni-active-40"></i></div>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-sm"><span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> <span class="text-nowrap text-light">Since last month</span></p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="card bg-gradient-danger border-0">
                      <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Succession Rate</h5><span class="h2 font-weight-bold mb-0 text-white">49,65%</span>
                              </div>
                              <div class="col-auto">
                                  <div class="icon icon-shape bg-white text-dark rounded-circle shadow"><i class="ni ni-spaceship"></i></div>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-sm"><span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> <span class="text-nowrap text-light">Since last month</span></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                  <div class="row align-items-center">
                      <div class="col-8">
                          <h3 class="mb-0">Edit profile</h3>
                      </div>
                      <div class="col-4 text-right"><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../change']" class="btn btn-sm btn-primary">Change Password</a></div>
                  </div>
              </div>
              <div class="card-body">
                  <form>
                      <h6 class="heading-small text-muted mb-4">User information</h6>
                      <div class="pl-lg-4">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="form-group"><label class="form-control-label" for="input-username">Username</label> <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{user.username}}"></div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group"><label class="form-control-label" for="input-email">Email address</label> <input type="email" id="input-email" class="form-control" value="{{user.email}}"></div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="form-group"><label class="form-control-label" for="input-first-name">First name</label> <input type="text" id="input-first-name" class="form-control" placeholder="First name" value="{{user.name|titlecase}}"></div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group"><label class="form-control-label" for="input-last-name">Birthday</label> <input type="date" id="input-last-name" class="form-control"  value={{user.birthday}}></div>
                              </div>
                          </div>
                      </div>
                      <hr class="my-4">
                      <h6 class="heading-small text-muted mb-4">Contact information</h6>
                      <div class="pl-lg-4">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group"><label class="form-control-label" for="input-address">Address</label> <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text"></div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="form-group"><label class="form-control-label" for="input-city">City</label> <input type="text" id="input-city" class="form-control" placeholder="City" value="New York"></div>
                              </div>
                              <div class="col-lg-4">
                                  <div class="form-group"><label class="form-control-label" for="input-country">Country</label> <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States"></div>
                              </div>
                              <div class="col-lg-4">
                                  <div class="form-group"><label class="form-control-label" for="input-country">Postal code</label> <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code"></div>
                              </div>
                          </div>
                      </div>
                      <hr class="my-4">
                      <h6 class="heading-small text-muted mb-4">Bio</h6>
                      <div class="pl-lg-4">
                          <div class="form-group"><label class="form-control-label">About Me</label> <textarea rows="4" class="form-control" placeholder="A few words about you ...">A beautiful premium dashboard for Bootstrap 4.</textarea></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
    </div>



