
 <div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Documents List</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Documents</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right"><a href="#" class="btn btn-sm btn-neutral">New</a> <a href="#" class="btn btn-sm btn-neutral">Filters</a></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="card mb-4"><div class="card-header"><h3 class="mb-0">My Docs</h3></div>
    <div class="card-body">
<div class="row card-wrapper">
    <div class="card" >
        <div class="card-body" style="width: 370px;">
        <div class="dropzone dropzone-single mb-3 dz-clickable" data-toggle="dropzone" data-dropzone-url="http://" >
            <div class="dz-preview dz-preview-single"></div>
            <div class="dz-default dz-message"><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../createDoc']" ><span>Extract New File</span></a></div>
        </div>
        <div class="text-center">
            <style>
                
                img:hover {
                    transform: scale(1.2,1.2);
                  }
               
            </style>
            <a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../createDoc']" ><img src="../../assets/dashboard/assets/img/plus2.png" style="width: 130px; height:130px; "></a>
        </div>
        </div> 
    </div>
<div class="col-lg-4" *ngFor="let doc of docs" >
<div class="card" >
    <div class="card-body"><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../showDoc', doc.id]"><img src="http://127.0.0.1:8000/media/{{doc.file}}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 140px; height:140px;"></a>
        <div class="pt-4 text-center">
            <h5 class="h3 title"><span class="d-block mb-1">{{ doc.title }}</span> <small class="h4 font-weight-light text-muted">{{ doc.modelType }}</small></h5>
            <div class="h5 font-weight-300" ><i class="ni location_pin mr-2" ></i><p style="
                display:inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 10ch;"> {{ doc.description }}</p></div>
                
            <div class="d-flex justify-content-between"><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../showDoc', doc.id]" class="btn btn-sm btn-success mr-4" style="width: 70px;">Show</a><a style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['../editDoc', doc.id]" class="btn btn-sm btn-info mr-4" style="width: 70px;">Edit</a> <button (click)="OnDelete(doc.id)" class="btn btn-sm btn-danger float-right " style="width: 70px;">Delete</button></div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>