:host {
  .mat-raised-button.mat-primary{
    background-color: #0CAFFF;
  }
  .mat-raised-button{
    background-color: #f33155;
    color: white;
  }

  div.col-1{
    padding: 0 !important;
  }
  .col-1 {
    max-width: 5.3333333333% !important;
  }
  i,h2{
    color: #747474;
  }
  .mat-dialog-content {
    margin: 15 -24px !important;
    padding: 0 !important;
    height: 80vh !important;
    width: 80vw !important;
  }
  i:active{
   color: #f33155;
  }
}
