<div mat-dialog-title>
  <div class="row">
    <div class="col-4">
      <h2 >Create a new file</h2>
    </div>
    <div class="col-8 ">
          <div class="row justify-content-end">
            <div class="col-1" title="flip horizontal">
              <i class="fa  fa-step-backward cursor-pointer" style="transform: rotate(-90deg)" aria-hidden="true" (click)="flipHorizontal()"></i>
            </div>
            <div class="col-1" title="flip vertical">
              <i class="fa  fa-step-forward cursor-pointer" aria-hidden="true" (click)="flipVertical()"></i>
            </div>
            <div class="col-1" title="rotate right">
              <i class="fa  fa-hand-o-right cursor-pointer" aria-hidden="true" (click)="rotateRight()"></i>
            </div>
            <div class="col-1" title="rotate left">
              <i class="fa  fa-hand-o-left cursor-pointer" aria-hidden="true" (click)="rotateLeft()"></i>
            </div>
            <div class="col-1" title="move to right">
              <i class="fa  fa-arrow-right cursor-pointer" aria-hidden="true" (click)="moveLeft()"></i>
            </div>
            <div class="col-1" title="move to bottom">
              <i class="fa fa-arrow-down cursor-pointer" aria-hidden="true" (click)="moveTop()"></i>
            </div>
            <div class="col-1" title="move to left">
              <i class="fa fa-arrow-left cursor-pointer" aria-hidden="true" (click)="moveRight()"></i>
            </div>
            <div class="col-1" title="move to top">
              <i class="fa fa-arrow-up cursor-pointer" aria-hidden="true" (click)="moveBottom()"></i>
            </div>
            <div class="col-1 " title="zoom out">
              <i class="fa fa-search-minus cursor-pointer" aria-hidden="true" (click)="zoomOut()"></i>
            </div>
            <div class="col-1 " title="zoom in"  >
              <i class="fa fa-search-plus cursor-pointer" aria-hidden="true" (click)="zoomIn()"></i>
            </div>
            <div class="col-1 " title="rotate to left" >
              <i class="fa fa-undo cursor-pointer" aria-hidden="true" (click)="rotationToLeft()"></i>
            </div>
            <div class="col-1 " title="rotate to right" >
              <i class="fa fa-repeat cursor-pointer" aria-hidden="true" (click)="rotationToRight()"></i>
            </div>
            <div class="col-1 " title="reset image" >
              <i class="fa fa-refresh cursor-pointer" aria-hidden="true" (click)="resetImage()"></i>
            </div>
    </div>
  </div>
</div>

<mat-dialog-content style="" >
  <perfect-scrollbar>
  <div class="">
    <div class="row">
      <div class="col-6">
        <image-cropper
          [imageChangedEvent]="imgChangeEvt"
          [maintainAspectRatio]="false"
          [aspectRatio]="1/1"
          format= "png"
          [transform]="transform"
          [canvasRotation]="canvasRotation"
          (imageCropped)="cropImg($event)"
          (imageLoaded)="imgLoad()"
          (cropperReady)="initCropper()"
          (loadImageFailed)="imgFailed()">
        </image-cropper>
        <div *ngIf="loading" class="loader">Loading...</div>
      </div>
      <div class="col-6">
          <img class="d-block ml-auto mr-auto " style=" " [src]="cropImgPreview" />
      </div>
    </div>
  </div>
  </perfect-scrollbar>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <input type="file" (change)="onFileChange($event)">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="file" color="primary">OK</button>
</mat-dialog-actions>
