<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-theme-primary">
        <div class="container"><a class="navbar-brand @@logo_classes" href="../../index.html"><img class="navbar-brand-dark common" src="../../../assets/front/assets/img/brand/pixocr logo.png" style="height: 80px;" width="170"  alt="Logo light"> <img class="navbar-brand-light common" src="../../../assets/front/assets/img/brand/pixocr logo.png" style="height: 80px;" width="170"  alt="Logo dark"></a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand"><a href="../../index.html"><img src="../../../assets/front/assets/img/brand/pixocr logo.png"  style="height: 80px;" width="170" alt="Logo Impact"></a></div>
                        <div class="col-6 collapse-close"><a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a></div>
                    </div>
                </div>

                <ul class="navbar-nav navbar-nav-hover justify-content-center">
                    <li class="nav-item"><a href="../../index.html" class="nav-link">About Us</a></li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" aria-expanded="false" data-toggle="dropdown"><span class="nav-link-inner-text mr-1">Our Services</span> <i class="fas fa-angle-down nav-link-arrow"></i></a>
                        <div class="dropdown-menu dropdown-megamenu p-3 p-lg-4">
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Main pages</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="index.html">Landing</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="index-2.html">Landing 2</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="about.html">About</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="team.html">Team</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="contact.html">Contact</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Payment</h6>
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="pricing.html">Pricing</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="checkout.html">Checkout</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="checkout-completed.html">Order completed</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="invoice.html">Invoice</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Support</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="support.html">Support center</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="support-2.html">Support center 2</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="support-topic.html">Support topic</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Blog</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="blog.html">Blog</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="blog-post.html">Blog post</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Careers</h6>
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="careers.html">Careers</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="career-single.html">Job description</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Auth</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="sign-in.html">Sign in</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="sign-in-illustration.html">Sign in 2</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="sign-up.html">Sign up</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="sign-up-illustration.html">Sign up 2</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Specials</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="404.html">404 Not Found</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="500.html">500 Server Error</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="download-extension.html">Browser extension</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Legal</h6>
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="legal.html">Legal center</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="terms.html">Terms & agreement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" aria-expanded="false" data-toggle="dropdown"><span class="nav-link-inner-text mr-1">Contact Us</span> <i class="fas fa-angle-down nav-link-arrow"></i></a>
                        <div class="dropdown-menu dropdown-megamenu p-3 p-lg-4">
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Dashboards</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/dashboards/dashboard.html">Dashboard</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/dashboards/alternative.html">Alternative</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Examples</h6>
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/examples/pricing.html">Pricing</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/examples/login.html">Login</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/examples/register.html">Register</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/examples/profile.html">Profile</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Maps</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/maps/google.html">Google</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/maps/vector.html">Vector</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Plugins</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/widgets.html">Widgets</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/charts.html">Charts</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../../dashboard/pages/calendar.html">Calendars</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">About Us</h6>
                                    <ul class="list-style-none mb-4">
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                
                </ul>
            </div>
            <div class="d-none d-lg-block @@cta_button_classes"> <a class="btn btn-md btn-secondary animate-up-2"   style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['/auth']" *ngIf="!isAuthenticated" ><i class="ni ni-circle-08 mr-3" ></i>Login</a></div>
            <div class="d-none d-lg-block @@cta_button_classes"> <a class="btn btn-md btn-secondary animate-up-2"   style="cursor: pointer;"   *ngIf="isAuthenticated" (click)="onLogout()"><i class="ni ni-circle-08 mr-3"></i>Logout</a></div>
        </div>
    </nav>
</header>