<h1 mat-dialog-title>Confirm delete</h1>

<mat-dialog-content>

  <p>Are you sure you want to delete this item ?</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="" color="primary">OK</button>
</mat-dialog-actions>
