
:host {
  .pb-6, .py-6 {
    padding-bottom: 106px !important;
  }
  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 4.33333% !important;
  }
  .row{
    margin-right: -50px !important;
  }
  .pointer {
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .card-header{
    padding: 23px 1.25rem !important;
    border-bottom:1px solid silver !important;
  }
  .center-items{
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
  }
  .display-contents{
    display: contents ;
  }
  mat-icon{
    color: #747474;
  }
  .card-body {
    mat-icon {

      height: 100px;
      width: 100px;
      font-size: 100px;
      margin: 10px;
    }
    img {
      height: 100px;
      width: 100px;
      border-radius: 10px;
      margin: 10px;
    }
    p {
      text-align: center;
      margin: 0 !important;
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: 2px;
    }
    input[type=checkbox] {
      accent-color: #f33155;
      opacity: 0;
    }
    .checked:hover{
      input[type=checkbox]{
        accent-color: #f33155;
        opacity: 1;
      }
    }
      input[type=checkbox]:checked{
        accent-color: #f33155;
        opacity: 1;
      }
  }
  .form-control:focus {
    border-color: #f33155;
    box-shadow: 0 0 0 0.2rem rgba(175, 54, 111, 0.25);
  }
  mat-icon:active{
    color: #f33155;
  }
  .form-control{
width: 300px !important;
    margin: auto !important;
  }

}
