<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Archives</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card mb-4">
    <div class="card-header center-items">
      <div class="container-fluid" style="padding: 0 !important;">
      <div class="row">
        <div class="col-1 center-items">
          <i *ngIf="canNavigateUp" class="fa fa-long-arrow-left pointer mr-2" aria-hidden="true" (click)="navigateUp()"></i>
          <span class="">{{path || 'Files'}}</span>
        </div>

     <div class="col-11">
        <div class="row justify-content-end ">
          <section class="display-contents" *ngIf="fileService.checked_file" @fade>
            <i class="fa fa-object-ungroup pointer col-1" title="extract this selected" aria-hidden="true"></i>
            <i class="fa fa-download pointer col-1" title="download this selected" aria-hidden="true" (click)="onDownload()"></i>
            <i class="fa trash fa-trash pointer col-1" title="delete this selected" aria-hidden="true" (click)="openDeleteDialog()"></i>
            <i class="fa fa-clipboard pointer col-1" title="paste here" aria-hidden="true" (click)="elementPast()"></i>
            <i class="fa fa-scissors pointer col-1" title="cut this selected" aria-hidden="true" (click)="elementCut()"></i>
            <i class="fa fa-files-o pointer col-1" title="copy this selected" aria-hidden="true"></i>
            <i class="fa fa-pencil pointer col-1" title="rename this selected" aria-hidden="true" (click)="openRenameDialog()"></i>
          </section>
          <section class="display-contents">
            <i class="fa fa-upload pointer col-1" title="create new file" aria-hidden="true" (click)="openNewFileDialog()"></i>
            <i class="fa fa-plus-circle pointer col-1" title="create new folder" aria-hidden="true" (click)="openNewFolderDialog()"></i>
          </section>
        </div>
     </div>
      </div>
      </div>
    </div>
    <div class="card-header" style="padding: 10px !important;">
      <div class="container">
        <div class="row">
          <input class="form-control"
                 name="name"
                 [(ngModel)]="searchName"
                 (ngModelChange)="search()"
                 [placeholder]="search_in">
        </div>
      </div>
    </div>
    <div class="card-body" style="min-height: 204px">
      <div class="row card-wrapper">
          <div class="row">
            <div class="col-auto"  *ngFor="let element of fileElements" >
              <div (dblclick)="element.is_selected ? null : navigate(element)">
                <div *ngIf="element.is_folder" class="position-relative p-1 checked"
                     [ngStyle]="{'backgroundColor': element.is_selected ?  'rgb(0 0 0 / 7%)' : 'transparent',
                     'borderRadius': element.is_selected ?  '10px' : '0'}">
                  <input type="checkbox"
                         class="pointer position-absolute top-0"
                         [id]="element.id"
                         [checked]="element.is_selected"
                         (change)="isAllSelected($event,element)">
                  <mat-icon class="pointer">folder</mat-icon>
                  <p>{{element.name}}</p>
                </div>
                <div *ngIf="!element.is_folder"
                     class="position-relative p-1 checked"
                     (dblclick)="openImage(element.img)"
                >
                  <input type="checkbox"
                         class="pointer position-absolute top-0"
                         [id]="element.id"
                         [checked]="element.is_selected"
                         (change)="isAllSelected($event,element)">
                  <img [src]="element.img" class="pointer">
                  <p>{{element.name}}</p>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

