<perfect-scrollbar >
  <div style="border: 1px solid silver">
<mat-dialog-content>

    <div   style="width: fit-content !important;height: fit-content !important;">
      <img [src]="img">
    </div>
</mat-dialog-content>
  </div>
</perfect-scrollbar>
