:host {

.mat-raised-button.mat-primary{
  background-color: #0CAFFF;
}
.mat-raised-button{
  background-color: #f33155;
  color: white;
}
.form-control:focus {
  border-color: #f33155;
  box-shadow: 0 0 0 0.2rem rgba(175, 54, 111, 0.25);
}

input{
  margin: 20px 0 15px 0;
}

}
