<h1 mat-dialog-title>Rename Element</h1>

<mat-dialog-content>

    <input class="form-control" style="width: 450px" placeholder="Folder Name" [(ngModel)]="rename">

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="rename" color="primary">OK</button>
</mat-dialog-actions>
