<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <div class="sidenav-header d-flex align-items-center"><a class="navbar-brand" href="../../../index.html"><img src="../../assets/dashboard/assets/img/brand/pixocr logo.png" style=" max-height:100%; max-width:100%; height: 100px; "  width="250px" class="navbar-brand-img" alt="..."></a>
            <div class="ml-auto">
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner"><i class="sidenav-toggler-line"></i> <i class="sidenav-toggler-line"></i> <i class="sidenav-toggler-line"></i></div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-dashboards" ><i class="ni ni-shop text-primary"></i><span class="nav-link-text">Dashboards</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['listDocs']" ><i class="ni ni-ungroup text-orange"></i> <span class="nav-link-text">Document Extraction</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLinkActive="active" [routerLink]="['archive']"><i class="ni ni-archive-2 text-green"></i> <span class="nav-link-text">Archives</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;"  routerLinkActive="active" [routerLink]="['profile']" ><i class="ni ni-single-copy-04 text-pink"></i> <span class="nav-link-text">profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-tables" ><i class="ni ni-align-left-2 text-default"></i> <span class="nav-link-text">reclamations</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-maps"><i class="ni ni-map-big text-primary"></i> <span class="nav-link-text">Team Space</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="main-content" id="panel">
 <div>
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                  <div class="form-group mb-0">
                      <div class="input-group input-group-alternative input-group-merge">
                          <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></div><input class="form-control" placeholder="Search" type="text">
                      </div>
                  </div><button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close"><span aria-hidden="true">×</span></button>
              </form>
              <ul class="navbar-nav align-items-center ml-md-auto">
                  <li class="nav-item d-xl-none">
                      <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                          <div class="sidenav-toggler-inner"><i class="sidenav-toggler-line"></i> <i class="sidenav-toggler-line"></i> <i class="sidenav-toggler-line"></i></div>
                      </div>
                  </li>
                  <li class="nav-item d-sm-none"><a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main"><i class="ni ni-zoom-split-in"></i></a></li>
                  <li class="nav-item dropdown"><a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ni ni-bell-55"></i></a>
                      <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden">
                          <div class="px-3 py-3">
                              <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                          </div>
                          <div class="list-group list-group-flush">
                              <a href="#!" class="list-group-item list-group-item-action">
                                  <div class="row align-items-center">
                                      <div class="col-auto"> <img alt="Image placeholder" src="../../assets/dashboard/assets/img/theme/team-1.jpg" class="avatar rounded-circle"></div>
                                      <div class="col ml--2">
                                          <div class="d-flex justify-content-between align-items-center">
                                              <div>
                                                  <h4 class="mb-0 text-sm">{{user.username}}</h4>
                                              </div>
                                              <div class="text-right text-muted"><small>2 hrs ago</small></div>
                                          </div>
                                          <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                      </div>
                                  </div>
                              </a>
                              </div> <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown"><a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ni ni-ungroup"></i></a>
                      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right">
                          <div class="row shortcuts px-4"><a href="#!" class="col-4 shortcut-item"><span class="shortcut-media avatar rounded-circle bg-gradient-red"><i class="ni ni-calendar-grid-58"></i> </span><small>Calendar</small> </a><a href="#!" class="col-4 shortcut-item"><span class="shortcut-media avatar rounded-circle bg-gradient-orange"><i class="ni ni-email-83"></i> </span><small>Email</small> </a><a href="#!" class="col-4 shortcut-item"><span class="shortcut-media avatar rounded-circle bg-gradient-info"><i class="ni ni-credit-card"></i> </span><small>Payments</small> </a><a href="#!" class="col-4 shortcut-item"><span class="shortcut-media avatar rounded-circle bg-gradient-green"><i class="ni ni-books"></i> </span><small>Reports</small> </a><a href="#!" class="col-4 shortcut-item"><span class="shortcut-media avatar rounded-circle bg-gradient-purple"><i class="ni ni-pin-3"></i> </span><small>Maps</small> </a><a href="#!" class="col-4 shortcut-item"><span class="shortcut-media avatar rounded-circle bg-gradient-yellow"><i class="ni ni-basket"></i> </span><small>Shop</small></a></div>
                      </div>
                  </li>
              </ul>
              <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                  <li class="nav-item dropdown"><a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="media align-items-center"><span class="avatar avatar-sm rounded-circle"><img alt="Image placeholder" src="../../assets/dashboard/assets/img/theme/user.png"></span>
                              <div class="media-body ml-2 d-none d-lg-block"><span class="mb-0 text-sm font-weight-bold">{{user.username}}</span></div>
                          </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <div class="dropdown-header noti-title">
                              <h6 class="text-overflow m-0">Welcome!</h6>
                          </div><a style="cursor: pointer;"  routerLinkActive="active"[routerLink]="['profile']" class="dropdown-item"><i class="ni ni-single-02"></i> <span>My profile</span> </a><a href="#!" class="dropdown-item"><i class="ni ni-settings-gear-65"></i> <span>Settings</span> </a><a href="#!" class="dropdown-item"><i class="ni ni-calendar-grid-58"></i> <span>Activity</span> </a><a href="#!" class="dropdown-item"><i class="ni ni-support-16"></i> <span>Support</span></a>
                          <div class="dropdown-divider"></div><a *ngIf="isAuthenticated" (click)="onLogout()" class="dropdown-item"><i class="ni ni-user-run"></i> <span>Logout</span></a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </nav>

<router-outlet></router-outlet>

</div>
</div>
